
@media(max-width: 500px){
    
    .texto-principal h1, h2{
        flex-basis: 100%;
        padding: 40px;
        font-size: 20px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        
    }
    .itens{
        flex-basis: 100%;
        width: 60px;
        height: 50px;
        margin-top: 30px;
    }
    .personagens{
        flex-basis: 100%;
        font-size: small;
        margin-left: 40px;
    }
    .dicas-div , .lista-saiba{
        flex-basis: 100%;
        font-size: small;
    }

    .lista-saiba a:hover{
        font-size: 20px;
    }
    
    .footer{
        font-size: small;
    }
}

@media(max-width: 1324px){
    .itens{
        width: 130px;
        height: 100px;
    }
    
}
@media(max-width: 1220px){
        .texto-principal h1, .texto-principal h2{
            font-size: 20px;
        }

        .texto-principal {
            margin-bottom: 15px;
        }
}

@media(max-width: 566px){
    .texto-principal h1, .texto-principal h2{
        font-size: 15px;
    }
}


